body {line-height:10px !important;}
.middle {padding:0px; width:400px;}
.fieldset {margin:5px !important; padding:0px !important;}
.form-list td.label {width:160px !important;}
.form-list td.label label {width:160px !important;}
